html {
  font-family: 'Istok Web', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, label, .mont {
  font-family: 'Montserrat', sans-serif;
}

code,
kbd,
pre,
samp {
  font-family: 'Cutive Mono', monospace;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button {
  cursor: pointer;  
  box-sizing: border-box;
  background-color: #fefefe; 
  border: 1px solid #aaaaaa;  
  border-radius: 2px; 
  min-height: 38px;
  padding: 15px 30px;   
  color: #888888;
  font-weight: 600;
  font-size: 0.9em;
  border-radius: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button {
  line-height: normal;
  overflow: visible;
  -webkit-appearance: none; 
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* a links as button */
[role="button"] {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  padding-top: 9px;
}

[role="button"]:hover {
  text-decoration: none;
}

button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

form {
  color: #666666;
}

form label {
  width: 100%;
  float: left;
  clear: both;
  margin: 26px 0 10px 0;
  font-size: 14px;
  font-weight: 600;
  color: #888888;
}

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input:focus,
textarea:focus {
  box-shadow: 5px 5px 5px 0px rgba(51,51,51,0.06);
  border-color: rgba(255, 255, 255, 0) !important;
  z-index: 1;
  background-color: #fefefe;
  color: #333333 !important;
}

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  box-shadow: none;
}

input[type="submit"]:focus,
button:focus,
a.button:focus,
[role="button"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #fefefe; 
  border: 1px solid #aaaaaa;  
  color: #888888;  
}

input[type="radio"],
input[type="checkbox"] {
  color: #666666; 
	margin: 9px 10px 9px 0;   
}

input[type='checkbox'] {
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  appearance: checkbox !important;	
	width: auto !important;
	float: none !important;
}

input[type='radio'] {
  -webkit-appearance: radio !important;
  -moz-appearance: radio !important;
  -ms-appearance: radio !important;
  -o-appearance: radio !important;
  appearance: radio !important;	
	width: auto !important;
	float: none !important;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font: inherit;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  color: #666666;
  outline: none;
  outline-color: #eeeeee;  
  margin: 0;
  padding: 2px 6px;
  min-height: 38px;
  vertical-align: top;
}

input[type="text"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 0;
  border-bottom: 1px solid #cccccc;
  color: #888888;
  outline: none;
  outline-color: #eeeeee;  
  margin: 0;
  padding: 2px 6px;
  min-height: 38px;
  vertical-align: top;  
}

select {
  font-family: 'Montserrat', sans-serif;
  background-image: url('images/dd_arrow-grey.png');
  background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-grey.svg');  
  background-repeat: no-repeat;
  background-size: 38px 38px;
  background-position: right 2px center;   
  color: #888888;
  font-weight: 400;
  font-size: 1em;
  padding: 2px 38px 2px 10px;
  border: 0;
  border-bottom: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;    
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  background-image: none;
  letter-spacing: 0;
  text-transform: none;
  padding: 2px 6px;
}

select:focus {
  color: #777777;  
}

select[multiple]:focus {
  background-image: none;  
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #fefefe;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #fefefe;  
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #aaaaaa;
  opacity: 1;  
}

input.placeholder_text,
textarea.placeholder_text {
  color: #bbbbbb;
  opacity: 1;  
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select[size="0"],
select[size="1"] {
  height: 38px;
}

textarea {
  min-height: 74px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  width: 100%;
}

optgroup {
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-family: inherit;
}
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button::-moz-focus-inner {
    padding:0;
    border:0;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888888), color-stop(1, #333333));
    border: 0;
    color: #ffffff;
    font: inherit;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #333333 0 0 1px;
    min-height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    box-shadow: none;
    background: #888888;
    border-color: #888888;
  }
}

/*
<<<<<<<<<<<<<<<<
Colours
<<<<<<<<<<<<<<<<
*/

.colour-white {
  color: #ffffff;
}

.colour-beige.lighter {
  color: #f7efe2;
}

.colour-beige {
  color: #f5ebdb;  
}

.colour-beige.darker {
  color: #c4bcaf;  
}

.colour-red.lighter {
  color: #ec826d;
}

.colour-red {
  color: #e76349;  
}

.colour-red.darker {
  color: #b94f3a;  
}

/* Backgrounds */

.bg-white {
  background-color: #ffffff;
}

.bg-beige.lighter {
  background-color: #f7efe2;
}

.bg-beige {
  background-color: #f5ebdb;  
}

.bg-beige.darker {
  background-color: #c4bcaf;  
}

.bg-red.lighter {
  background-color: #ec826d;
}

.bg-red {
  background-color: #e76349;  
}

.bg-red.darker {
  background-color: #b94f3a;  
}

.btn {
  border-width: 1px;
  border-style: solid;
}

/* Button colours */

[role="button"].beige:active,
input[type="submit"].beige:active,
input[type="reset"].beige:active,
input[type="button"].beige:active,
button.beige:active,
a.button.beige:active,
.btn.beige:active {
  opacity: 0.8;
  transform: scale(0.95,0.95);
  color: #aaaaaa;
}

[role="button"].beige,
input[type="submit"].beige,
input[type="reset"].beige,
input[type="button"].beige,
button.beige,
a.button.beige,
.btn.beige,
select.beige {
  background-color: #ffffff;
  border-color: #eeeeee; 
  color: #e63331;
  font-size: 17px;
}

[role="button"].beige:hover,
input[type="submit"].beige:hover,
input[type="reset"].beige:hover,
input[type="button"].beige:hover,
button.beige:hover,
a.button.beige:hover,
.btn.beige:hover,
select.beige:hover {
  transform: scale(1.03,1.03);
  text-decoration: none;
  color: #fc1E29;
}

[role="button"].red:active,
input[type="submit"].red:active,
input[type="reset"].red:active,
input[type="button"].red:active,
button.red:active,
a.button.red:active,
.btn.red:active {
  transform: scale(0.95,0.95);
  color: #ffffff;
}


[role="button"].red,
input[type="submit"].red,
input[type="reset"].red,
input[type="button"].red,
button.red,
a.button.red,
.btn.red,
select.red {
  background-color: #f73431; 
  color: #ffffff; 
  border-color: #f73431;
  font-size: 24px;
  font-weight: 600;
  height: 50px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  padding: 5px 46px;
}

[role="button"].red:hover,
input[type="submit"].red:hover,
input[type="reset"].red:hover,
input[type="button"].red:hover,
button.red:hover,
a.button.red:hover,
.btn.red:hover,
select.red:hover {
  background-color: #fc1E29;
  border-color: #fc1E29;
  text-decoration: none;
  transform: scale(1.03,1.03);
}

select.red  {
  background-image: url('images/dd_arrow-white.png');
  background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-white.svg'); 
}

/*
<<<<<<<<<<<<<<<<
Cards
<<<<<<<<<<<<<<<<
*/

.card.midshadow {
  box-shadow: 5px 5px 5px 0px rgba(51,51,51,0.06);
  border-left: 1px solid #fafafa;
  border-top: 1px solid #f8f8f8;
  border-radius: 3px 0px 0px 0px;
}

.card.regular {
  background-color: #fefefe; 
  color: #333333;   
}

.card p {
  margin: 0;
}

/*
<<<<<<<<<<<<<<<<
DEMO styles
<<<<<<<<<<<<<<<<
*/

/*
<<<<<<<<<<<<<<<<
IE10+ override, last in document
<<<<<<<<<<<<<<<<
*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  

  select {
    background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-grey.png') !important;  
  }
  
  select:focus {
    background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-grey_darker.png') !important;   
  }

  select.red  {
    background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-white.png') !important; 
  }
  
}  

