/*
********************************
<<<<<<<<<<<<<<<<
General
<<<<<<<<<<<<<<<<
********************************
*/

.row {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: "";
  display: table;  
}

.row:after {
  clear: both;  
}

.grid-col {
  box-sizing: border-box;
  float: left;
  height: auto;
  position: relative;
}

.padded-cols .grid-col {
  padding: 0 22px;
}

.padded-cols.topbottom .grid-col {
  padding: 22px;
}

.padded-cols.row {
  margin: -22px;
}

.padded-cols.row.topbottom {
  margin: 22px -22px;
}

.grids-top-padding {
  padding-top: 44px;
}

.grids-bottom-padding {
  padding-top: 44px;
}

@media all and (min-width: 680px) and (max-width: 1333px) {

.padded-cols .grid-col {
  padding: 16px;
}

.padded-cols.row {
  margin: 16px -16px;
  box-sizing: border-box;
}

.grids-top-padding {
  padding-top: 32px;
}

.grids-bottom-padding {
  padding-bottom: 32px;
}

}

@media all and (min-width: 10px) and (max-width: 679px) {

.padded-cols .grid-col {
  padding: 11px;
}

.padded-cols.row {
  margin: 11px -11px;
  box-sizing: border-box;
}

.grids-top-padding {
  padding-top: 22px;
}

.grids-bottom-padding {
  padding-bottom: 22px;
}

}

/*
********************************
<<<<<<<<<<<<<<<<
Twelve Columns
<<<<<<<<<<<<<<<<
********************************
*/

.twelve-col-layout .grid-col.reg-zero {
  width: 0;
}

.twelve-col-layout .grid-col.reg-one {
  width: 8.333333%;
}

.twelve-col-layout .grid-col.reg-two {
  width: 16.666666%;
}

.twelve-col-layout .grid-col.reg-three {
  width: 24.999999%;
}

.twelve-col-layout .grid-col.reg-four {
  width: 33.333333%;
}

.twelve-col-layout .grid-col.reg-five {
  width: 41.666666%;
}

.twelve-col-layout .grid-col.reg-six {
  width: 49.999999%;
}

.twelve-col-layout .grid-col.reg-seven {
  width: 58.333333%;
}

.twelve-col-layout .grid-col.reg-eight {
  width: 66.666666%;
}

.twelve-col-layout .grid-col.reg-nine {
  width: 74.999999%;
}

.twelve-col-layout .grid-col.reg-ten {
  width: 83.333333%;
}

.twelve-col-layout .grid-col.reg-eleven {
  width: 91.666666%;
}

.twelve-col-layout .grid-col.reg-twelve {
  width: 100%;
}

.twelve-col-layout .grid-col.reg-left-zero {
  margin-left: 0;
}

.twelve-col-layout .grid-col.reg-left-one {
  margin-left: 8.333333%;
}

.twelve-col-layout .grid-col.reg-left-two {
  margin-left: 16.666666%;
}

.twelve-col-layout .grid-col.reg-left-three {
  margin-left: 24.999999%;
}

.twelve-col-layout .grid-col.reg-left-four {
  margin-left: 33.333333%;
}

.twelve-col-layout .grid-col.reg-left-five {
  margin-left: 41.666666%;
}

.twelve-col-layout .grid-col.reg-left-six {
  margin-left: 49.999999%;
}

.twelve-col-layout .grid-col.reg-left-seven {
  margin-left: 58.333333%;
}

.twelve-col-layout .grid-col.reg-left-eight {
  margin-left: 66.666666%;
}

.twelve-col-layout .grid-col.reg-left-nine {
  margin-left: 74.999999%;
}

.twelve-col-layout .grid-col.reg-left-ten {
  margin-left: 83.333333%;
}

.twelve-col-layout .grid-col.reg-left-eleven {
  margin-left: 91.666666%;
}

.twelve-col-layout .grid-col.reg-left-twelve {
  margin-left: 100%;
}

.twelve-col-layout .grid-col.reg-right-zero {
  margin-right: 0;
}

.twelve-col-layout .grid-col.reg-right-one {
  margin-right: 8.333333%;
}

.twelve-col-layout .grid-col.reg-right-two {
  margin-right: 16.666666%;
}

.twelve-col-layout .grid-col.reg-right-three {
  margin-right: 24.999999%;
}

.twelve-col-layout .grid-col.reg-right-four {
  margin-right: 33.333333%;
}

.twelve-col-layout .grid-col.reg-right-five {
  margin-right: 41.666666%;
}

.twelve-col-layout .grid-col.reg-right-six {
  margin-right: 49.999999%;
}

.twelve-col-layout .grid-col.reg-right-seven {
  margin-right: 58.333333%;
}

.twelve-col-layout .grid-col.reg-right-eight {
  margin-right: 66.666666%;
}

.twelve-col-layout .grid-col.reg-right-nine {
  margin-right: 74.999999%;
}

.twelve-col-layout .grid-col.reg-right-ten {
  margin-right: 83.333333%;
}

.twelve-col-layout .grid-col.reg-right-eleven {
  margin-right: 91.666666%;
}

.twelve-col-layout .grid-col.reg-right-twelve {
  margin-right: 100%;
}

/*
<<<<<<<<<<<<<<<<
Tablet
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 680px) and (max-width: 1023px) {
  
  .twelve-col-layout .grid-col.tab-zero {
    width: 0;
  }
  
  .twelve-col-layout .grid-col.tab-one {
    width: 8.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-two {
    width: 16.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-three {
    width: 24.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-four {
    width: 33.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-five {
    width: 41.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-six {
    width: 49.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-seven {
    width: 58.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-eight {
    width: 66.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-nine {
    width: 74.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-ten {
    width: 83.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-eleven {
    width: 91.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-twelve {
    width: 100%;
  }
  
  .twelve-col-layout .grid-col.tab-left-zero {
    margin-left: 0;
  }
  
  .twelve-col-layout .grid-col.tab-left-one {
    margin-left: 8.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-left-two {
    margin-left: 16.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-left-three {
    margin-left: 24.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-left-four {
    margin-left: 33.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-left-five {
    margin-left: 41.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-left-six {
    margin-left: 49.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-left-seven {
    margin-left: 58.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-left-eight {
    margin-left: 66.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-left-nine {
    margin-left: 74.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-left-ten {
    margin-left: 83.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-left-eleven {
    margin-left: 91.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-left-twelve {
    margin-left: 100%;
  }
  
  .twelve-col-layout .grid-col.tab-right-zero {
    margin-right: 0;
  }
  
  .twelve-col-layout .grid-col.tab-right-one {
    margin-right: 8.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-right-two {
    margin-right: 16.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-right-three {
    margin-right: 24.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-right-four {
    margin-right: 33.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-right-five {
    margin-right: 41.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-right-six {
    margin-right: 49.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-right-seven {
    margin-right: 58.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-right-eight {
    margin-right: 66.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-right-nine {
    margin-right: 74.999999%;
  }
  
  .twelve-col-layout .grid-col.tab-right-ten {
    margin-right: 83.333333%;
  }
  
  .twelve-col-layout .grid-col.tab-right-eleven {
    margin-right: 91.666666%;
  }
  
  .twelve-col-layout .grid-col.tab-right-twelve {
    margin-right: 100%;
  }

}

/*
<<<<<<<<<<<<<<<<
Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 679px) { 

  .twelve-col-layout .grid-col.mob-zero {
    width: 0;
  }
  
  .twelve-col-layout .grid-col.mob-one {
    width: 8.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-two {
    width: 16.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-three {
    width: 24.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-four {
    width: 33.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-five {
    width: 41.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-six {
    width: 49.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-seven {
    width: 58.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-eight {
    width: 66.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-nine {
    width: 74.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-ten {
    width: 83.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-eleven {
    width: 91.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-twelve {
    width: 100%;
  }
  
  .twelve-col-layout .grid-col.mob-left-zero {
    margin-left: 0;
  }
  
  .twelve-col-layout .grid-col.mob-left-one {
    margin-left: 8.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-left-two {
    margin-left: 16.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-left-three {
    margin-left: 24.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-left-four {
    margin-left: 33.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-left-five {
    margin-left: 41.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-left-six {
    margin-left: 49.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-left-seven {
    margin-left: 58.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-left-eight {
    margin-left: 66.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-left-nine {
    margin-left: 74.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-left-ten {
    margin-left: 83.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-left-eleven {
    margin-left: 91.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-left-twelve {
    margin-left: 100%;
  }
  
  .twelve-col-layout .grid-col.mob-right-zero {
    margin-right: 0;
  }
  
  .twelve-col-layout .grid-col.mob-right-one {
    margin-right: 8.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-right-two {
    margin-right: 16.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-right-three {
    margin-right: 24.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-right-four {
    margin-right: 33.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-right-five {
    margin-right: 41.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-right-six {
    margin-right: 49.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-right-seven {
    margin-right: 58.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-right-eight {
    margin-right: 66.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-right-nine {
    margin-right: 74.999999%;
  }
  
  .twelve-col-layout .grid-col.mob-right-ten {
    margin-right: 83.333333%;
  }
  
  .twelve-col-layout .grid-col.mob-right-eleven {
    margin-right: 91.666666%;
  }
  
  .twelve-col-layout .grid-col.mob-right-twelve {
    margin-right: 100%;
  }

}


/*
********************************
<<<<<<<<<<<<<<<<
Eight Columns
<<<<<<<<<<<<<<<<
********************************
*/
.eight-col-layout .grid-col.reg-one {
  width: 12.5%;
}

.eight-col-layout .grid-col.reg-two {
  width: 25%;
}

.eight-col-layout .grid-col.reg-three {
  width: 37.5%;
}

.eight-col-layout .grid-col.reg-four {
  width: 50%;
}

.eight-col-layout .grid-col.reg-five {
  width: 62.5%;
}

.eight-col-layout .grid-col.reg-six {
  width: 75%;
}

.eight-col-layout .grid-col.reg-seven {
  width: 87.5%;
}

.eight-col-layout .grid-col.reg-eight {
  width: 100%;
}

.eight-col-layout .left-one {
  margin-left: 12.5%;
}

.eight-col-layout .reg-left-two {
  margin-left: 25%; 
}

.eight-col-layout .reg-left-three {
  margin-left: 37.5%;  
}

.eight-col-layout .reg-left-four {
  margin-left: 50%;  
}

.eight-col-layout .reg-left-five {
  margin-left: 62.5%;  
}

.eight-col-layout .reg-left-six {
  margin-left: 75%;  
}

.eight-col-layout .reg-left-seven {
  margin-left: 87.5%;  
}

.eight-col-layout .reg-left-eight {
  margin-left: 100%;  
}

.eight-col-layout .reg-right-one {
  margin-right: 12.5%  
}

.eight-col-layout .reg-right-two {
  margin-right: 25%; 
}

.eight-col-layout .reg-right-three {
  margin-right: 37.5%;  
}

.eight-col-layout .reg-right-four {
  margin-right: 50%;  
}

.eight-col-layout .reg-right-five {
  margin-right: 62.5%;  
}

.eight-col-layout .reg-right-six {
  margin-right: 75%;  
}

.eight-col-layout .reg-right-seven {
  margin-right: 87.5%;  
}

.eight-col-layout .reg-right-eight {
  margin-right: 100%;  
}

/*
<<<<<<<<<<<<<<<<
Tablet
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 680px) and (max-width: 1333px) {
  
  .eight-col-layout .grid-col.tab-one {
    width: 12.5%;
  }

  .eight-col-layout .grid-col.tab-two {
    width: 25%;
  }
  
  .eight-col-layout .grid-col.tab-threehalf {
    width: 33.3%;
  }

  .eight-col-layout .grid-col.tab-three {
    width: 37.5%;
  }

  .eight-col-layout .grid-col.tab-four {
    width: 50%;
  }

  .eight-col-layout .grid-col.tab-five {
    width: 62.5%;
  }

  .eight-col-layout .grid-col.tab-six {
    width: 75%;
  }

  .eight-col-layout .grid-col.tab-seven {
    width: 87.5%;
  }

  .eight-col-layout .grid-col.tab-eight {
    width: 100%;
  }

  .eight-col-layout .tab-left-zero {
    margin-left: 0; 
  }  

  .eight-col-layout .tab-left-one {
    margin-left: 12.5%; 
  }

  .eight-col-layout .tab-left-two {
    margin-left: 25%; 
  }

  .eight-col-layout .tab-left-three {
    margin-left: 37.5%;  
  }

  .eight-col-layout .tab-left-four {
    margin-left: 50%;  
  }

  .eight-col-layout .tab-left-five {
    margin-left: 62.5%;  
  }

  .eight-col-layout .tab-left-six {
    margin-left: 75%;  
  }

  .eight-col-layout .tab-left-seven {
    margin-left: 87.5%;  
  }

  .eight-col-layout .tab-left-eight {
    margin-left: 100%;  
  }

  .eight-col-layout .tab-right-zero {
    margin-right: 0;  
  }  

  .eight-col-layout .tab-right-one {
    margin-right: 12.5%;  
  }

  .eight-col-layout .tab-right-two {
    margin-right: 25%; 
  }

  .eight-col-layout .tab-right-three {
    margin-right: 37.5%;  
  }

  .eight-col-layout .tab-right-four {
    margin-right: 50%;  
  }

  .eight-col-layout .tab-right-five {
    margin-right: 62.5%;  
  }

  .eight-col-layout .tab-right-six {
    margin-right: 75%;  
  }

  .eight-col-layout .tab-right-seven {
    margin-right: 87.5%;  
  }

  .eight-col-layout .tab-right-eight {
    margin-right: 100%;  
  }

}

/*
<<<<<<<<<<<<<<<<
Smalltab
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 680px) and (max-width: 1090px) {
  
  .eight-col-layout .grid-col.smalltab-one {
    width: 12.5%;
  }

  .eight-col-layout .grid-col.smalltab-two {
    width: 25%;
  }

  .eight-col-layout .grid-col.smalltab-three {
    width: 37.5%;
  }

  .eight-col-layout .grid-col.smalltab-four {
    width: 50%;
  }

  .eight-col-layout .grid-col.smalltab-five {
    width: 62.5%;
  }

  .eight-col-layout .grid-col.smalltab-six {
    width: 75%;
  }

  .eight-col-layout .grid-col.smalltab-seven {
    width: 87.5%;
  }

  .eight-col-layout .grid-col.smalltab-eight {
    width: 100%;
  }

}

/*
<<<<<<<<<<<<<<<<
Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 679px) { 
    
  .eight-col-layout .grid-col.mob-one {
    width: 12.5%;
  }

  .eight-col-layout .grid-col.mob-two {
    width: 25%;
  }

  .eight-col-layout .grid-col.mob-three {
    width: 37.5%;
  }

  .eight-col-layout .grid-col.mob-four {
    width: 50%;
  }

  .eight-col-layout .grid-col.mob-five {
    width: 62.5%;
  }
  
  .eight-col-layout .grid-col.mob-six {
    width: 75%;
  }

  .eight-col-layout .grid-col.mob-seven {
    width: 87.5%;
  }

  .eight-col-layout .grid-col.mob-eight {
    width: 100%;
  }

  .eight-col-layout .mob-left-zero {
    margin-left: 0;  
  } 

  .eight-col-layout .mob-left-one {
    margin-left: 12.5%;  
  }

  .eight-col-layout .mob-left-two {
    margin-left: 25%; 
  }

  .eight-col-layout .mob-left-three {
    margin-left: 37.5%;  
  }

  .eight-col-layout .mob-left-four {
    margin-left: 50%;  
  }

  .eight-col-layout .mob-left-five {
    margin-left: 62.5%;  
  }

  .eight-col-layout .mob-left-six {
    margin-left: 75%;  
  }

  .eight-col-layout .mob-left-seven {
    margin-left: 87.5%;  
  }

  .eight-col-layout .mob-left-eight {
    margin-left: 100%;  
  }

  .eight-col-layout .mob-right-zero {
    margin-left: 0;  
  }   

  .eight-col-layout .mob-right-one {
    margin-right: 12.5%;  
  }

  .eight-col-layout .mob-right-two {
    margin-right: 25%; 
  }

  .eight-col-layout .mob-right-three {
    margin-right: 37.5%;  
  }

  .eight-col-layout .mob-right-four {
    margin-right: 50%;  
  }

  .eight-col-layout .mob-right-five {
    margin-right: 62.5%;  
  }

  .eight-col-layout .mob-right-six {
    margin-right: 75%;  
  }

  .eight-col-layout .mob-right-seven {
    margin-right: 87.5%;  
  }

  .eight-col-layout .mob-right-eight {
    margin-right: 100%;  
  }

}

/*
<<<<<<<<<<<<<<<<
Largemob
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 580px) and (max-width: 679px) {
  
  .eight-col-layout .grid-col.largemob-one {
    width: 12.5%;
  }

  .eight-col-layout .grid-col.largemob-two {
    width: 25%;
  }

  .eight-col-layout .grid-col.largemob-three {
    width: 37.5%;
  }

  .eight-col-layout .grid-col.largemob-four {
    width: 50%;
  }

  .eight-col-layout .grid-col.largemob-five {
    width: 62.5%;
  }

  .eight-col-layout .grid-col.largemob-six {
    width: 75%;
  }

  .eight-col-layout .grid-col.largemob-seven {
    width: 87.5%;
  }

  .eight-col-layout .grid-col.largemob-eight {
    width: 100%;
  }

}

/*
********************************
<<<<<<<<<<<<<<<<
Golden ratio
<<<<<<<<<<<<<<<<
********************************
*/

.golden-ratio-layout .grid-col.reg-primary {
  width: 62%;
}

.golden-ratio-layout .grid-col.reg-secondary {
  width: 38%;
}

.golden-ratio-layout .grid-col.reg-full {
  width: 100%;
}

/*
<<<<<<<<<<<<<<<<
Tablet
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 680px) and (max-width: 1333px) {

  .golden-ratio-layout .grid-col.tab-primary {
    width: 62%;
  }
  
  .golden-ratio-layout .grid-col.tab-secondary {
    width: 38%;
  }
  
  .golden-ratio-layout .grid-col.tab-full {
    width: 100%;
  }

}

/*
<<<<<<<<<<<<<<<<
Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 679px) { 
  
  .golden-ratio-layout .grid-col.mob-primary {
    width: 62%;
  }
  
  .golden-ratio-layout .grid-col.mob-secondary {
    width: 38%;
  }
  
  .golden-ratio-layout .grid-col.mob-full {
    width: 100%;
  }

}

/*
<<<<<<<<<<<<<<<<
CARDS
<<<<<<<<<<<<<<<<
*/

.cardwrapper {
  box-sizing: border-box;
  padding: 10px;
  float: left;  
  width: 100%;
}

.card {
  box-sizing: border-box;
  float: left;
  padding: 10px;
}


@media all and (min-width: 10px) and (max-width: 576px) { 
  
  .card {
    width: 100%;
    padding: 10px 0;
  }
  
  .cardwrapper {
    padding: 10px;
  }

}

@media all and (min-width: 577px) and (max-width: 806px) { 
  
  .card {
    width: 50%;
  }

}

@media all and (min-width: 807px) and (max-width: 1380px) { 
  
  .card {
    width: 33.333333%;
  }

}

@media all and (min-width: 1381px) and (max-width: 1840px) { 
  
  .card {
    width: 25%;
  }

}

@media all and (min-width: 1841px) and (max-width: 2160px) { 
  
  .card {
    width: 20%;
  }
  
  .cardwrapper {
    max-width: 1700px;
    margin: 0 auto;
    float: none;
  }

}

@media all and (min-width: 2161px)  { 
  
  .card {
    width: 20%;
  }
  
  .cardwrapper {
    max-width: 1900px;
    margin: 0 auto;
    float: none;
  }

}







