/*
<<<<<<<<<<<<<<<<
Start with doing things a bit more stylish
<<<<<<<<<<<<<<<<
*/


button:focus,
input:focus {
	outline:0;
}

select,
select:hover {
  cursor: pointer;
}

*:link, *:visited, *:hover, *:active, *:focus {
	-webkit-transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
	transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
} 

::selection {
	background: rgba(255, 120, 20, 1);
	color: #ffffff;
	opacity: 1;
}
::-moz-selection {
	background: rgba(255, 120, 20, 1);
	color: #ffffff;
	opacity: 1;
} 

a,
a:active,
a:hover,
a:focus {
   outline: 0;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
  box-shadow: 0px 0px 0px rgba(255,255,255,0);
}

img {
  vertical-align: bottom;
}

html {
	-webkit-font-smoothing: antialiased;	
}

.vertical-align-container {
  display: table;
  width: 100%;
}

.vertical-align-container div {
  display: table-cell;
  vertical-align: middle;
}

.vertical-align-container-def {
  display: table;
}

.vertical-align-container-def .def {
  display: table-cell;
  vertical-align: middle;
}


/*
<<<<<<<<<<<<<<<<
Stop doing stylish things
<<<<<<<<<<<<<<<<
*/


.propper-set-bg-image {
  background-image: url('images/skel1-logo.png');
  background-image: linear-gradient(transparent, transparent), url('images/skel1-logo.svg');  
  background-repeat: no-repeat;
  background-size: 304px 133px;
  background-position: center center;  
}

.propper-set-bg-image.proper-box {
  width: 100%;
  height: 133px;
  float: left;
  clear: both;
  margin: 40px 0;
}

/*
<<<<<<<<<<<<<<<<
General Styles
<<<<<<<<<<<<<<<<
*/


footer.page-footer {
  min-height: 50px;
}

.centered-content {
  max-width: 1000px;
  margin: 0 auto;
}

.centering {
  margin: 0 auto;  
}

.centered-text {
  text-align: center;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.hi-z {
  z-index: 1000;
}

.low-z {
  z-index: 1;
}

.inl-blk {
  display: inline-block;  
}

.image-center {
  overflow: hidden;
  position: relative;
}

.image-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
}

img.panelcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
  max-width: none;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.halfheight {
  height: 50%;
}

.halfwidth {
  width: 50%;
}

.thirdwidth {
  width: 33.33333%
}

.fourthwidth {
  width: 25%
}

.fifthwidth {
  width: 20%
}

.sixthwidth {
  width: 16.66666%
}

.topleftzero {
  top: 0;
  left: 0;
}

.onecol {
}

.twocol {
}

.threecol {
}

.fourcol {

}

.fivecol {

}

.sixcol {

}

.leftfloat {
  float: left;
}

.rightfloat {
  float: right;
}

.linkhover:hover,
.cls:hover {
  cursor: pointer;
}

.opacity-hover:hover {
  opacity: 0.8;
}

.hiding {
  display: none !important;
}

.no-visibility {
  visibility: hidden;
  opacity: 0;
}

a.fullsize-link {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  opacity: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.uppercase {
  text-transform: uppercase;
}

.hide-on-load {
  opacity: 0;
}

.show-overflow {
  overflow: visible;
}

.thecardshadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.thecardshadow.hovering:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*
<<<<<<<<<<<<<<<<
END General Styles
<<<<<<<<<<<<<<<<
*/

h1 {
  color: #bbbbbb;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px 0;
}

h2 {
  color: #bbbbbb;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0;
}

h2.addresses {
  color: #bbbbbb;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  margin: 30px 0;
  font-family: 'Istok Web', sans-serif;
  font-size: 32px;
}

.bottom-details {
  width: 100%;
  float: left;
  position: relative;
}

.bottom-details::after {
  content: '';
  width: 100%;
  float: left;
  height: 20px;
  background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-details .item {
  float: left;
  text-align: center;
  color: #888888;
  font-weight: 600;
  height: 85px;
}

.bottom-details .item.residens {
  width: 33.3%;
}

.bottom-details .item.misc {
  width: 50%;
}

.bottom-details .item.residens:nth-of-type(2) {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.bottom-details .item.misc:nth-of-type(1) {
  border-right: 1px solid #dddddd;
}

.bottom-details .item label {
  width: 100%;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 400;
}

.card .inside {
  float: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card .top-details {
  padding: 24px;
  float: left;
  width: 100%;
  height: 160px;
}

.card a {
  color: #444444;
}

.card .inside:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.card .saletype,
.overlay.status .saletype {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 20px;
  font-weight: 600;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.19), 3px 3px 3px rgba(0,0,0,0.23);
}

.card .saletype {
  border-radius: 0 0 2px 0;  
}

.overlay.status .saletype {
  border-radius: 2px 0 0 2px; 
  height: 34px;
  box-sizing: border-box;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.19), -3px 3px 3px rgba(0,0,0,0.23);
}

.property-address {
  font-weight: 300;
  color: #666666;
}

.property-price {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 7px;
  color: #888888;
}

.viewdetails {
  box-sizing: border-box;
  padding: 12px;
  background-color: #cccccc;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.03), 0 -1px 2px rgba(0,0,0,0.06);
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.card a:hover .viewdetails {
/*   background-color: #999999; */
  background-color: #d16c61;
}

.radioarea ul li {
  width: 33.333%;
  height: auto;
  box-sizing: border-box;
}

.radioarea ul li:nth-of-type(1) {
  padding: 0 10px 0 0;
}

.radioarea ul li:nth-of-type(2) {
  padding: 0 5px;
}

.radioarea ul li:nth-of-type(3) {
  padding: 0 0 0 10px;  
}

/*
.radioarea ul li label {
  padding: 12px;
  height: auto;
  color: #999999;
  box-sizing: border-box;
}
*/

/*
.radioarea ul li:nth-of-type(1) label {
  background-color: #dddddd;
  border-right: 2px solid #ffffff;
}

.radioarea ul li:nth-of-type(2) label {
  background-color: #f8f8f8;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.radioarea ul li:nth-of-type(3) label {
  background-color: #e8e8e8;
  border-left: 2px solid #ffffff;
}
*/

/*
.radioarea input[type=radio]:checked ~ label {
  background-color: #ffffff;
  color: #999999;
}
*/

.radioarea ul li label {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
  text-decoration: none;
  color: #ffffff;
  background-color: #bbbbbb;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.09),0 4px 15px 0 rgba(0,0,0,0.06);
  font-size: 14px;
}

.radioarea input[type=radio]:checked ~ label {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
  outline: 0;
  color: #888888;
  text-decoration: none;
}

.radioarea ul li label:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.08);
  color: #eeeeee;
}

.radioarea ul li label {
  text-align: center;
}

.radioarea ul li .check {
  display: none;
}

.wrapper.sec2 {
  padding-top: 40px;
}

.halfleft,
.halfright,
.rent-let-controll,
.searchbuttonarea {
  padding-bottom: 40px;
}

.halfleft {
  padding-right: 30px;
}

.halfright {
  padding-left: 30px;
}

.minval,
.maxval {
  color: #888888;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

.minval span,
.maxval span {
  padding: 0 6px;
}

input#search {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;  
}

.saletype-select select {
  letter-spacing: 1px;
  font-size: 16px; 
  text-transform: uppercase;  
}

::-webkit-input-placeholder {
  color: rgba(135, 135, 135, 1);
  opacity: 1 !important;
  -webkit-opacity:1 !important;
  -khtml-opacity: 1 !important;
}

::-moz-placeholder {
  color: rgba(135, 135, 135, 1);
  opacity: 1 !important;
}

::-ms-placeholder {
  color: rgba(135, 135, 135, 1);
  opacity: 1 !important;
}

::placeholder {
  color: rgba(135, 135, 135, 1);
  opacity: 1 !important;
  -webkit-opacity:1 !important;
  -khtml-opacity: 1 !important;
}

.srchbtn {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
  text-decoration: none;
  color: #fff;
/*   background-color: #26a69a; */
  background-color: #808080;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.srchbtn:hover,
.srchbtn:focus {
/*   background-color: #aaaaa9; */
  background-color: #d16c61;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  outline: 0;
  color: #ffffff;
  text-decoration: none;
}

select.filterstyle {
  font-family: 'Montserrat', sans-serif;
  background-color: #bbbbbb;
  color: #ffffff;
  border: 0;
  font-size: 16px;
  padding: 2px 40px 0 16px;
  background-image: url('images/dd_arrow-white.png');
  background-image: linear-gradient(transparent, transparent), url('images/dd_arrow-white.svg');
}

.row.viewmap .acf-map {
  height: 100vh !important;
  width: 100% !important;  
}

.row.viewmap {
  height: 60px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.row.viewmap.toggled {
  height: 100vh;
}

.banner.formap {
  text-align: center;
  box-sizing: border-box;
  background-color: #808080;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
} 

.row.viewmap .banner.open {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 21px;
}

.row.viewmap .banner.open:hover {
/*   background-color: #aaaaa9; */
  background-color: #d16c61;
  cursor: pointer;
}

.banner.close {
  height: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.9);
}

.banner.close:hover {
  background-color: rgba(51, 51, 51, 1);
  cursor: pointer; 
}

.banner.close.toggled {
  height: 60px;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 19px 60px 0 60px;
  border-radius: 2px;
}

.row.viewmap .banner.open.toggled {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.pagination-controller.pg-top {
  padding: 0 0 30px 0;
}

.searchfilter.pg-bottom {
  padding: 30px 0;
}

.topbar.stickystuff {
  height: 120px;
  background-color: #808080;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition: all 0.2s cubic-bezier(.25,.5,.8,1);
}

.topbar.stickystuff a {
  color: #ffffff;
  padding: 0 4px;
}

.stickystuff.sticky {
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 999999;
}

.topbar.stickystuff .grid-col {
  height: 100%;
  padding: 0 20px;
}

.backpage,
.shareholder {
  background-color: #bbbbbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.shareholder {
}

.propnav {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.stickypad {
/*
  padding-top: 50px;
  margin-top: -50px;
*/
}

#singlemap {
  box-sizing: border-box;
  padding-bottom: 50px;
  margin-bottom: -50px;  
}

.prop-map.acf-map {
  height: 100vh;
}

.totop {
  height: 60px;
  width: auto;
  position: absolute;
  right: 0;
  top: 70px;
  z-index: 10;
  padding: 19px 60px 0 60px;
  border-radius: 2px; 
  background-color: rgba(51, 51, 51, 0.9); 
}

.totop a {
  color: #ffffff;
}

.topbar.stickystuff a.inview {
  color: #dddddd;
}

.shortfacts {
background-color: #fdfdfd;  
}

.shortfacts .detail {
  color: #888888;
  font-weight: 600;
  font-size: 28px;
}

.shortfacts .detail label {
  width: 100%;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 400;
}

.overlay.status {
  right: 0;
  top: 50%;
  margin-top: -17px;
}

.item.video {
  line-height: 0;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.item.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.enquiry {
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: #cccccc;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.03), 0 -1px 2px rgba(0,0,0,0.06);
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  width: 100%;
  text-align: center;
  height: 48px;
}

.enquiry.toggled {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  color: #999999;
}

.enquiry:hover {
  background-color: #999999;
}

.enquiry.toggled:hover {
  background-color: rgba(255, 255, 255, 1);
}

.enquiry label {
  padding: 12px;
  width: 100%;
  height: 100%;
  float: left;
}

.enquiry.toggled label {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.enquiry label:hover {
  cursor: pointer;
}

.enquiry .cntctfrm {
  padding: 0;
  height: 0;
  overflow: hidden;
}

.enquiry.toggled .cntctfrm {
  padding: 24px;
  height: 100%;
}

.cntctfrm.vertical-align-container-def {
  display: block;
}

.enquiry.toggled .cntctfrm.vertical-align-container-def {
  display: table;
  width: 100%;
}

.def.shfcts {
  padding: 48px 0;
}

.wpcf7-form input {
  font-weight: 400;
  margin: 12px 0;
  border: 0;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  font-size: 13px;
  height: 38px;
}

.wpcf7-form input[type="submit"] {
  min-height: 24px;
  padding: 6px 40px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0);
  background-color: #cccccc;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.wpcf7-form input[type="submit"]:focus {
  background-color: #eeeeee;
  color: #aaaaaa !important;
}

.enquiry .close {
  display: none;
}

.enquiry .close:hover {
  cursor: pointer;
}

.enquiry.toggled .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 32px 72px 32px 32px;
  display: block;
  background-image: url('images/close.png');
  background-image: linear-gradient(transparent, transparent), url('images/close.svg');  
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 32px center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.enquiry.toggled a {
  color: #cccccc;
}

a.pdf {
  background-image: url('images/pdf.png');
  background-image: linear-gradient(transparent, transparent), url('images/pdf.svg');  
  background-repeat: no-repeat;
  background-size: 38px 53px;
  background-position: center top;
  min-width: 58px;
  min-height: 53px;
  display: inline-block;
  padding: 66px 0 0 0;
  margin: 0 11px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

a.pdf:hover {
  background-image: url('images/pdf-hover.png');
  background-image: linear-gradient(transparent, transparent), url('images/pdf-hover.svg');
  text-decoration: none;
  color: #777777;
}

.price.sprop {
  background-color: #999999;
  height: 48px;
  position: absolute;
  top: 0;
}

.price.sprop h3 {
  margin: 9px 0;
  color: #eeeeee;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.pdfs.sprop {
  margin: 32px 0;  
}

div.wpcf7-response-output {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border: 0 !important;
  background-color: #d16c61;
  color: #ffffff;
  margin: 10px;
  font-size: 14px;
}

div.wpcf7-mail-sent-ok {
  border: 0 dotted #dddddd;
}

.links {
  display: inline;
}

.captionoverlay {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.captionoverlay .inside {
  background: rgba(255, 255, 255, 0.8);
  padding: 11px 22px;
  font-size: 11px;
}

.galleryimage {
  overflow: hidden;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.galleryimage:hover .captionoverlay {
  opacity: 0.2;
}

.galleryimage:hover .captionoverlay .inside {
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
}

.acf-map {
  font-family: 'Montserrat', sans-serif;
}

.acf-map h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;  
}

.acf-map a {
  color: #d16c61; 
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.acf-map h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;  
}

.page-template-searchpage-pagetemplate #searchresultlist.initially-hidden,
.page-template-temp-search-residential #searchresultlist.initially-hidden {
  display: block;
}

.searchtypesspacer {
  height: 8px;
  background: #e6e9ea;
}

.searchtypes {
  background: #e6e9ea;
  float: left;
  width: 100%;
  font-size: 14px;
}

.searchtypes .passive {
  background: #ffffff;
}

.searchtypes .passive a {
  background: #e6e9ea;
}

.searchtypes .active {
  background: #e6e9ea;
}

.searchtypes .active a {
  background: #ffffff;
}

.searchtypes .residential.passive a {
  border-radius: 0px 0px 0px 10px;
}

.searchtypes .commercial.active a {
  border-radius: 0px 10px 0px 0px;  
  box-shadow: -2px -2px 2px 0 #ddd;
}

.searchtypes .commercial.passive a {
  border-radius: 0px 0px 10px 0px;
}

.searchtypes .residential.active a {
  border-radius: 10px 0px 0px 0px;
  box-shadow: 2px -2px 2px 0 #ddd;
}

.searchtypes .searchtype {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}


.searchtypes a {
  color: #aaaaaa;
  width: 100%;
  height: 100%;
  float: left;
  padding: 16px;
  box-sizing: border-box;
}

.searchtypes a:hover {
  text-decoration: none;
}

.searchtypes .active a,
.searchtypes .passive a:hover {
  color: #d16c61;
}

span.sale--type {
  font-weight: 400;
}

/* BELLA SITE STYLES */

.headerheight {
  height: 84px;
}

.intro.headerheight .headerheight {
  width: 100%;
}

.aboutbanner.toggled.headerheight,
.aboutbanner.toggled .headerheight {
  height: auto;
}

.aboutbanner {
  color: #ffffff;
  width: 100%;
  float: left;
  background: rgba(4, 39, 47, 0.85);
  overflow: hidden;
}

.aboutbanner.toggled {
  height: auto;
  min-height: 420px;
  background: rgba(4, 39, 47, .95);
/*   color: #00262c; */
}

.site-branding {
  width: 420px;
  height: 84px;
  background-image: url('images/headerlogo-alt.png');
  background-image: linear-gradient(transparent, transparent), url('images/headerlogo-alt.svg');  
  background-repeat: no-repeat;
  background-size: 420px 420px;
  background-position: left top; 
  z-index: 100;   
}

.aboutbanner.toggled .site-branding {
  height: 420px;
}

.intro {
  padding: 0 60px 0 440px;
  width: 100%;
  box-sizing: border-box;
}

.aboutbanner.toggled .intro {
  height: auto;
  padding: 28px 60px 28px 380px;
}

.aboutbanner, .aboutbanner h1, .aboutbanner h2, .aboutbanner h3, .aboutbanner h4, .aboutbanner h5, .aboutbanner h6, .aboutbanner label {
  font-family: 'CalibreWeb';
}

.aboutbanner a {
  color: #d16c61;
}

.aboutbanner h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
  margin: 0;
  display: inline-block;
  line-height: 1em;
  width: 100%;
  text-align: right;
}

.aboutbanner.toggled h1 {
  color: rgba(255, 255, 255, 0.2);
}

.aboutbanner h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
  margin: 40px 0 0 0;
  display: inline-block;
  line-height: 1.2em;
}

/*
.aboutbanner.toggled h1 {
  color: #00262c;
}
*/

.aboutbanner .expand,
.aboutbanner.toggled .contract {
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  display: inline-block;
  padding: 0 0 0 14px;
  margin-top: -4px;
  color: #d16c61;
}

.aboutbanner .expand:hover,
.aboutbanner.toggled .contract:hover {
  cursor: pointer;
  color: #ffffff;
}

.aboutbanner.toggled .expand,
.aboutbanner .contract {
  display: none;
}

.intro .copy {
  margin-top: 30px;
}

.intro .copy .left,
.intro .copy .right {
  width: 50%;
  float: left;
}

.intro .copy .left {
  padding: 0 20px 0 0;
}

.intro .copy .right {
  padding: 0 0 0 20px;
}

.aboutbanner p {
  margin-top: 0;
}

.aboutbanner .wpcf7 {
  margin-top: 30px;
}

.aboutbanner .wpcf7-form input,
.aboutbanner textarea, 
.aboutbanner input[type="email"], 
.aboutbanner input[type="tel"] {
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 0;
  border-bottom: 1px solid #ffffff;
  font-size: 18px;
  font-family: 'CalibreWeb';
}

.aboutbanner textarea {
  height: 100px;
  padding-left: 7px;
  padding-top: 10px;
}

.aboutbanner .wpcf7-form .sendff input {
  border: 0;
  background: #d16c61;
  color: #ffffff;
}

.aboutbanner .wpcf7-form input[type="submit"]:focus,
.aboutbanner .wpcf7-form input[type="submit"]:hover {
  color: #d16c61 !important;
  background: #ffffff;
  border: 0 !important;
}

.aboutbanner input:focus, 
.aboutbanner textarea:focus {
  color: #ffffff !important;  
  border-bottom: 1px solid #d16c61 !important;
}

.aboutbanner textarea:focus {
  padding-top: 10px;  
}

.aboutbanner input::-webkit-input-placeholder,
.aboutbanner textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.aboutbanner input:-moz-placeholder,
.aboutbanner textarea:-moz-placeholder {
  color: #ffffff;
  opacity: 1;  
}

.aboutbanner input.placeholder_text,
.aboutbanner textarea.placeholder_text {
  color: #ffffff;
  opacity: 1;  
}

.aboutbanner input:focus::-webkit-input-placeholder,
.aboutbanner textarea:focus::-webkit-input-placeholder {
  color: #d16c61;
  opacity: 1;
}

.aboutbanner input:focus:-moz-placeholder,
.aboutbanner textarea:focus:-moz-placeholder {
  color: #d16c61;
  opacity: 1;  
}

.aboutbanner input:focus.placeholder_text,
.aboutbanner textarea:focus.placeholder_text {
  color: #d16c61;
  opacity: 1;  
}

.nameff, 
.companyff,
.emailff,
.phoneff {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 20px 0 0;
}

.companyff,
.phoneff {
  padding: 0 0 0 20px;  
}

.messageff,
.sendff {
  margin-bottom: 20px;
  float: left;
  width: 100%; 
}  

.sendff {
  text-align: center;
} 

.aboutbanner div.wpcf7-response-output {
  float: left;
  width: 100%;
  color: #ffffff;  
  text-align: center;
}

.aboutbanner span.wpcf7-not-valid-tip {
  color: #d16c61;
}

.righttext {
  text-align: right;
}

p.moremore {
  font-weight: 600;
}

p.moremore a {
  background-image: url('images/arrowmore.png');
  background-image: linear-gradient(transparent, transparent), url('images/arrowmore.svg');  
  background-repeat: no-repeat;
  background-size: 8px 17px;
  background-position: right top 3px;
  padding-right: 21px;
}

p.moremore a:hover {
  background-image: url('images/arrowmore-hover.png');
  background-image: linear-gradient(transparent, transparent), url('images/arrowmore-hover.svg'); 
  text-decoration: none;
  color: #ffffff;   
}

.aboutbanner .fffield {
  position: relative;
}

.aboutbanner .fffield input::placeholder {
  opacity: 0;
}

.fffield ::-webkit-input-placeholder {
  opacity: 0 !important;
  -webkit-opacity:0 !important;
  -khtml-opacity: 0 !important;
}

.fffield ::-moz-placeholder {
  opacity: 0 !important;
}

.fffield ::-ms-placeholder {
  opacity: 0 !important;
}

.fffield ::placeholder {
  opacity: 0 !important;
}

.aboutbanner .fffield label {
  position: absolute;
  top: -5px;
  left: 7px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  transition: all .3s ease-out;
}

.aboutbanner .fffield.focused label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 600;
  top: -40px;
  background-color: #d16c61;
  width: 100%;
  padding: 2px 8px;
  left: 0;
}

.aboutbanner .messageff.fffield label {
  top: auto;
  bottom: 0;
}

.aboutbanner .messageff.fffield.focused label {
  bottom: auto;
  top: -40px;
}

.aboutbanner .fffield.filled label {
  background-color: rgba(255, 78, 0, 0);
}

.enquiry.toggled .fffield {
  position: relative;
  margin: 20px 0;
}

.aboutbanner span.wpcf7-not-valid-tip {
  font-size: 13px;
  font-weight: 600;
}

.enquiry.toggled .fffield label {
  height: auto;
  width: auto;
  font-weight: 400;
  font-size: 13px;
  text-transform: none;
  position: absolute;
  top: -4px;
  left: 10px;
  letter-spacing: 0;
  font-family: 'Istok Web', sans-serif;
  transition: all .3s ease-out;
  min-width: 10px;
  min-height: 10px;
}

.enquiry.toggled .fffield.focused label {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  top: -40px;
  left: 0;
  width: 100%;
  min-width: 100%;
  padding: 4px 12px;
  background-color: #999999;
  text-align: left;
  color: #ffffff;
  min-height: 20px;
}

.enquiry.toggled .fffield.filled label {
  background-color: rgba(153, 153, 153, 0.5);
}

.enquiry.toggled .fffield input {
  padding-left: 10px;
}

span.wpcf7-not-valid-tip {
  color: #d16c61;
  font-size: 12px;
  display: block;
  text-transform: none;
  letter-spacing: 0;
}

.searchtype.active a {
  pointer-events: none;
}