/* Large Desktop */

@media all and (min-width: 1600px) { 
  
  .intro .copy .left {
    padding: 0 40px 0 0;
  }
  
  .intro .copy .right {
    padding: 0 0 0 40px;
  }
  
  .aboutbanner.toggled .intro {
    padding: 28px 60px 28px 580px;
  }
  
  
}

@media all and (min-width: 1800px) { 
  
  .aboutbanner.toggled .intro {
    padding: 28px 60px 28px 780px;
  }
    
}


/*
<<<<<<<<<<<<<<<<
Desktop
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 1024px) { 
  
  .reg-pad-l {
    padding-left: 60px;
  }
  
  .reg-pad-r {
    padding-right: 60px;
  }
  
  .reg-pad-t {
    padding-top: 80px;
  }
  
  .reg-pad-b {
    padding-bottom: 80px;
  }
  
  .reg-pad-lr {
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .reg-pad-tb {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .reg-pad-lrtb {
    padding: 80px 60px;
  }
  
  .item.galleryimage {
    padding: 20px;
  }
  
  .item.galleryimage:nth-of-type(odd) {
    padding-left: 0;
  }
  
  .item.galleryimage:nth-of-type(even) {
    padding-right: 0;
  }
  
  .item.galleryimage:nth-of-type(odd) {
    padding-left: 0;
  }
  
  .item.galleryimage:nth-of-type(even) .captionoverlay {
    left: 20px;
  }
  
  #singlemap {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .aboutbanner p {
    font-size: 19px;
    line-height: 1.3em;
  }
  
  .aboutbanner .companyff.fffield  label, 
  .aboutbanner .phoneff.fffield label {
    left: 27px;  
  }
  
  .aboutbanner .companyff.fffield.focused label,
  .aboutbanner .phoneff.fffield.focused label {
    left: 20px;
  }
  
}


/*
<<<<<<<<<<<<<<<<
Tablet AND Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 1023px) { 
  
  .intro .copy .left, .intro .copy .right {
    width: 100%;
    padding: 0;
  }
  
  .site-branding {
    width: 304px;
    height: 84px;
    background-image: url('images/headerlogo-mob-alt.png');
    background-image: linear-gradient(transparent, transparent), url('images/headerlogo-mob-alt.svg');  
    background-repeat: no-repeat;
    background-size: 304px 304px;
    background-position: left top; 
    z-index: 100;   
  }
  
  .aboutbanner.toggled .intro {
    padding: 28px 60px 28px 220px;
  }
  
  .item.galleryimage {
    padding: 20px 0;
  }
  
  .shortfacts {
    height: auto !important;
  }
  
  #overview {
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox;   
    display: -webkit-flex;    
    display: flex;  
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
  }
  
  #overview .mainimage {
    -webkit-box-ordinal-group: 1;  
    -moz-box-ordinal-group: 1;     
    -ms-flex-order: 1; 
    -webkit-order: 1;    
    order: 1;
  }
  
  #overview .shortfacts {
    -webkit-box-ordinal-group: 2;  
    -moz-box-ordinal-group: 2;     
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  
  .enquiry.toggled .cntctfrm.vertical-align-container-def {
    width: 100%;
  }
  
  .enquiry.toggled,
  .enquiry.toggled:hover {
    background-color: #fafafa;
  }
  
  .captionoverlay {
    padding: 0;
  }
  
}

/*
<<<<<<<<<<<<<<<<
Large Tablet
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 680px) and (max-width: 1320px) {
  
  .topbar.stickystuff .grid-col.backpage {
    height: 50px;
  }
  
  .topbar.stickystuff .grid-col.propnav {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  .topbar.stickystuff .grid-col.shareholder {
    height: 50px;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .topbar.stickystuff {
    height: 100px;
    background-color: #cccccc;
  }
  
  .stickystuff.sticky {
    height: 80px;
  }
  
  .stickystuff.sticky .grid-col.backpage,
  .stickystuff.sticky .grid-col.shareholder {
    bottom: 0;
    position: absolute;
    height: 40px;
  }
  
  .stickystuff.sticky .grid-col.propnav {
    height: 40px;
  }
    
  .shareholder label {
    padding: 12px 0 0 10px;
    float: left;
    position: absolute;
    right: 200px;
  }
  
  .shareholder .links {
    float: right;
    height: 40px;
  }
  
  .topbar.stickystuff {
    font-size: 12px;
  }
  
  .topbar.stickystuff .shrlnk {
    background-repeat: no-repeat;
    background-size: 160px 40px;
    text-indent: -9999px; 
    width: 40px;
    height: 40px;
    background-image: url('images/sharesprite.png');
    background-image: linear-gradient(transparent, transparent), url('images/sharesprite.svg');
    padding: 0;
    display: inline-block;
    float: none;
    margin-bottom: 10px;
    margin-top: -5px;
  }
  
  .topbar.stickystuff .shrlnk:hover {
    background-image: url('images/sharesprite-hover.png');
    background-image: linear-gradient(transparent, transparent), url('images/sharesprite-hover.svg');    
  }
  
  .shrlnk.shrfcbk {
    background-position: left center;
  }
  
  .shrlnk.shrlnkdn {
    background-position: left -40px center;
  }
  
  .shrlnk.shrtwttr {
    background-position: left -80px center;
  }
  
  .shrlnk.email {
    background-position: left -120px center;
  }
  
  .overlay.status {
    top: auto;
    bottom: 0;
    margin-top: 0;
  }
  
  .overlay.status .saletype {
    border-radius: 2px 0 0 0;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.19), -3px -3px 3px rgba(0,0,0,0.23);
  }
  
  .stickystuff.sticky {
    bottom: 0;
    top: auto;
  }
  
}

@media all and (min-width: 1024px) and (max-width: 1320px) {
  
  .def.shfcts {
    padding: 50px 0;
  }
  
  .def.shfcts h2 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .pdfs.sprop {
    margin: 30px 0 0 0;
  }
  
  a.pdf {
    padding: 56px 0 0 0;
    background-size: 28px 38px;
    background-position: left top;
    padding: 12px 0 0 36px;
  }
  
  .shortfacts .detail {
    font-size: 24px;
  }
  
  .shortfacts .detail label {
    font-size: 12px;
  }
  
}


/*
<<<<<<<<<<<<<<<<
Tablet
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 680px) and (max-width: 1023px) {
  
  .aboutbanner .companyff.fffield  label, 
  .aboutbanner .phoneff.fffield label {
    left: 27px;  
  }
  
  .aboutbanner .companyff.fffield.focused label,
  .aboutbanner .phoneff.fffield.focused label {
    left: 20px;
  }
  
  .aboutbanner p {
    font-size: 19px;
    line-height: 1.3em;
  }
  
  .aboutbanner h1 {
    font-size: 21px;
  }
  
  .aboutbanner .expand, 
  .aboutbanner.toggled .contract {
    font-size: 16px;
  }
  
  .aboutbanner.toggled .intro h1 {
    padding-left: 70px;
  }
  
  .intro {
    padding: 0 60px 0 295px;
  }
  
  h1 {
    margin: 30px 0;
    font-size: 1.8em;
  }
  
  .shortfacts {
    padding: 20px 0;
  }
  
  .tab-pad-l {
    padding-left: 30px;
  }
  
  .tab-pad-r {
    padding-right: 30px;
  }
  
  .tab-pad-t {
    padding-top: 40px;
  }
  
  .tab-pad-b {
    padding-bottom: 40px;
  }
  
  .tab-pad-lr {
    padding-left: 30px;
    padding-right: 40px;
  }
  
  .tab-pad-tb {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .tab-pad-lrtb {
    padding: 40px 30px;
  }
  
  .totop.banner.formap {
    top: 0;
    padding: 10px 20px 0 20px;
    height: 36px;
    font-size: 12px;
    border-radius: 0;
  }
  
  .prop-map.acf-map {
    margin-bottom: 30px;
  }
  
  .wrapper.propsearch {
    padding: 0 40px;
  }
  
  input#search,
  .saletype-select select,
  .minval,
  .maxval {
    font-size: 14px;
  }
  
  span.mini {
    font-size: 12px;
    letter-spacing: 0;
  }
  
}


/*
<<<<<<<<<<<<<<<<
Mobile
<<<<<<<<<<<<<<<<
*/

@media all and (min-width: 10px) and (max-width: 679px) { 
  
  .cardwrapper {
    padding: 0 0 20px 0;
  }
  
  p.moremore a {
  width: 100%;
  float: left;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  background-image: none;
  background-size: 8px 17px;
  background-position: right 10px center;
  margin: 10px 0;
  -webkit-clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
  font-size: 16px;
}

  p.moremore a:hover {
  background-image: none; 
  text-decoration: none;
  color: #ffffff;
  background-color: #ff4b00;  
}
      
  .aboutbanner h2 {
    margin: 40px 0 0 0;
  }
  
  .aboutbanner .expand, 
  .aboutbanner.toggled .contract {
    font-size: 15px;
  }
  
  .intro {
    padding: 0 20px 0 140px;
    z-index: 100;
    position: relative;
  }
  
  .aboutbanner.toggled .intro {
    padding: 20px;
    z-index: 1000;
    position: relative;
    padding-top: 30px;
  }
  
  .aboutbanner h1 {
    font-size: 19px;
  }
  
  
  .aboutbanner.toggled h1{
    padding-left: 120px;
  }
  
  .aboutbanner h2 {
    font-size: 24px;
    margin: 20px 0 0 0;
  }
  
  .aboutbanner,
  .aboutbanner.toggled {
    background: rgba(4, 39, 47, 1);
  }
  
  .site-branding {
    width: 180px;
    height: 84px;
    background-image: url(images/headerlogo-mini-alt.png);
    background-image: linear-gradient(transparent, transparent), url(images/headerlogo-mini-alt.svg);
    background-size: 180px 180px;
  }
  
  .nameff, .companyff, .emailff, .phoneff {
    width: 100%;
    padding: 0;
  }
  
  html,
  p {
    font-size: 15px;
  }
  
  .aboutbanner p {
    font-size: 16px;
  }
  
  h1 {
    margin: 20px 0;
    font-size: 1.6em;
    line-height: 1.3em;
  }
  
  .shortfacts {
    padding: 10px 0;
  }
  
  .mob-pad-l {
    padding-left: 20px;
  }
  
  .mob-pad-r {
    padding-right: 20px;
  }
  
  .mob-pad-t {
    padding-top: 40px;
  }
  
  .mob-pad-b {
    padding-bottom: 40px;
  }
  
  .mob-pad-lr {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .mob-pad-tb {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .mob-pad-lrtb {
    padding: 40px 20px;
  }
  
  .stickystuff.sticky {
    height: auto;
  }
  
  .propnav,
  .shareholder {
    display: none;
  }
  
  .stickystuff.sticky .propnav,
  .stickystuff.sticky .shareholder {
    display: block;
  }
  
  .stickystuff.sticky .vertical-align-container-def {
    display: block;
  }
  
  .topbar.stickystuff {
    height: auto;
  }
  
  .topbar.stickystuff.sticky .grid-col {
    padding: 0;
  }
  
  .topbar.stickystuff.sticky .grid-col.propnav {
    padding: 10px 0;
  }
  
  .topbar.stickystuff.sticky a {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: left;
    font-size: 12px;
  }
  
  .grid-col.mob-two.backpage {
    width: 100%;
    background-image: url('images/backto-narrow-hover.png');
    background-image: linear-gradient(transparent, transparent), url('images/backto-narrow-hover.svg');  
    background-repeat: no-repeat;
    background-size: 32px 48px;
    background-position: left 20px top 3px;
    position: relative; 
  }
  
  .grid-col.mob-two.backpage a {
    width: 100%;
    height: 100%;  
    box-sizing: border-box;  
    padding: 20px;
    float: left;
  }
  
  .stickystuff.sticky .grid-col.mob-two.backpage {
    background-image: url('images/backto-narrow.png');
    background-image: linear-gradient(transparent, transparent), url('images/backto-narrow.svg');  
    background-repeat: no-repeat;
    background-size: 32px 48px;
    background-position: center top 3px;    
    text-indent: -9999px;
    min-height: 58px;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    width: 16.666666%;
    padding: 0;
  }
  
  .topbar.stickystuff.sticky .backpage a {
    width: 100%;
    height: 100%;
  }
  
  .stickystuff.sticky .backpage.vertical-align-container-def .def {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .shareholder.vertical-align-container-def .def {
    display: block;
  }
  
  .shareholder label {
    padding: 10px 0;
    float: left;
    width: 100%;
  }
  
  .shareholder .links {
    height: 0;
    overflow: hidden;
    float: left;
    min-height: 0;
  }
  
  .shareholder.toggled .links {
    height: auto;
    min-height: 40px;
    width: 100%;
    text-align: center;
  }
  
  .topbar.stickystuff.sticky a.shrlnk {
    padding-left: 20px;
  }
  
  .topbar.stickystuff.sticky .propnav a {
    background-repeat: no-repeat;
    background-size: 240px 40px;
    text-indent: -9999px; 
    width: 40px;
    height: 40px;
    background-image: url('images/scrollsprite.png');
    background-image: linear-gradient(transparent, transparent), url('images/scrollsprite.svg'); 
    display: inline-block;
    float: none;
  }
  
  .topbar.stickystuff.sticky .propnav a:hover,
  .topbar.stickystuff.sticky .propnav a.inview:hover {
    background-image: url('images/scrollsprite-hover.png');
    background-image: linear-gradient(transparent, transparent), url('images/scrollsprite-hover.svg');     
  }
  
  .to-overview {
    background-position: left -160px center; 
  }
  
  .to-description {
    background-position: left -200px center;     
  }
  
  .to-images {
    background-position: left -120px center;     
  }
  
  .to-video {
    background-position: left -40px center;        
  }
  
  .to-floorplans {
    background-position: left -80px center;       
  }
  
  .to-singlemap {
    background-position: left center;     
  }
  
  .topbar.stickystuff.sticky .propnav a.inview {
    background-image: url('images/scrollsprite-inview.png');
    background-image: linear-gradient(transparent, transparent), url('images/scrollsprite-inview.svg');    
  }
  
  .topbar.stickystuff.sticky .propnav .def {
    width: 100%;
    text-align: center;
    float: left;
    margin-left: -10px;
  }
  
  .topbar.stickystuff.sticky .shrlnk {
    background-repeat: no-repeat;
    background-size: 160px 40px;
    text-indent: -9999px; 
    width: 40px;
    height: 40px;
    background-image: url('images/sharesprite.png');
    background-image: linear-gradient(transparent, transparent), url('images/sharesprite.svg');
    padding: 0;
    display: inline-block;
    float: none;
    margin-bottom: 10px;
    margin-top: -5px;
  }
  
  .topbar.stickystuff.sticky .shrlnk:hover {
    background-image: url('images/sharesprite-hover.png');
    background-image: linear-gradient(transparent, transparent), url('images/sharesprite-hover.svg');    
  }
  
  .shrlnk.shrfcbk {
    background-position: left center;
  }
  
  .shrlnk.shrlnkdn {
    background-position: left -40px center;
  }
  
  .shrlnk.shrtwttr {
    background-position: left -80px center;
  }
  
  .shrlnk.email {
    background-position: left -120px center;
  }
  
  .pdfs.sprop {
    margin: 32px 0 12px 0;
  }
  
  a.pdf {
    width: 100%;
    margin: 0 0 20px 0;
    background-position: left top;
    text-align: left;
    padding: 14px 0 0 50px;
  }
  
  .overlay.status {
    top: auto;
    bottom: 0;
    margin-top: 0;
  }
  
  .overlay.status .saletype {
    border-radius: 2px 0 0 0;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.19), -3px -3px 3px rgba(0,0,0,0.23);
  }
  
  .totop.banner.formap,
  .close.banner.formap {
    top: 0;
    padding: 10px 20px 0 20px;
    height: 36px;
    font-size: 12px;
    border-radius: 0;
  }
  
  .prop-map.acf-map {
    margin-bottom: 50px;
  }
  
  .stickystuff.sticky {
    bottom: 0;
    top: auto;
  }
  
  .wrapper.propsearch {
    padding: 0 20px;
  }
  
  .halfleft,
  .halfright {
    padding-left: 0;
    padding-right: 0;
  }
    
  .radioarea ul li label {
    display: table;
    height: 70px;
    line-height: 1.2em;
    padding: 0;
  }
  
  .radioarea ul li label span {
    display: table-cell;
    vertical-align: middle;  
    padding: 0 10px;
    font-size: 13px; 
  }
  
  input#search,
  .saletype-select select,
  .minval,
  .maxval {
    font-size: 13px;
  }
  
  span.mini {
    font-size: 10px;
    letter-spacing: 0;
  }
  
  select.filterstyle {
    font-size: 13px;
    padding: 0px 30px 0 16px;
    background-size: 26px;
  }
  
  li.boundary,
  li.direction {
    width: 46%;
    margin: 0 2%;
    float: left;
    font-size: 24px;
    line-height: 0.8em;
  }
  
  span.nmbrwrp {
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
  }
  
  span.nmbrwrp li {
    margin: 5px 10px;
  }
  
  .items-per-page,
  .order-list {
    padding-bottom: 20px;
  }
  
  .bottom-details .item {
    box-sizing: border-box;
    padding: 0 10px;
  }
  
  .shareholder label:hover {
    cursor: pointer;
  }
  
/*
  .skel1-pagination li {
    background-color: #ffffff; 
    border: 1px solid #cccccc;
  }
  
  .skel1-pagination li a,
  .skel1-pagination a:visited  {
    color: #bbbbbb;
  }
  
  .skel1-pagination li.active {
    background-color: #ffffff;    
  }
  
  .skel1-pagination li.active a,
  .skel1-pagination li.active a:visited {
    color: #666666;
  }
  
  .skel1-pagination li.disabled {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
  }
  
  .skel1-pagination li.disabled a,
  .skel1-pagination li.disabled a :visited {
    color: #eeeeee;
  } 
*/

  .viewdetails {
    font-size: 14px;
  }

  
  
}

@media all and (min-width: 10px) and (max-width: 403px) {
  
  span.nmbrwrp {
    width: 100%;
    box-sizing: border-box;
    padding: 0 60px;    
  }
  
  .hidemob {
    display: none;
  }
  
  .aboutbanner .wpcf7-form .sendff input {
    width: 100%;
  }
  
}

@media all and (min-width: 10px) and (max-width: 348px) {
  
  span.nmbrwrp {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;      
  }
  
  span.mini {
    display: none;
  }
  
}


@media all and (min-width: 10px) and (max-width: 350px) {
  
  .topbar.stickystuff.sticky .propnav a {
    width: 34px;
  }
  
}


/*
<<<<<<<<<<<<<<<<
IE10+ override, last in document
<<<<<<<<<<<<<<<<
*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  
}  
