@font-face {
  font-family: 'CalibreWeb';
  src: url('CalibreWeb-Regular.eot');
  src: url('CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('CalibreWeb-Regular.woff') format('woff'),
       url('CalibreWeb-Regular.woff2') format('woff2');
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url('CalibreWeb-RegularItalic.eot');
  src: url('CalibreWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('CalibreWeb-RegularItalic.woff') format('woff'),
       url('CalibreWeb-RegularItalic.woff2') format('woff2');
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url('CalibreWeb-Semibold.eot');
  src: url('CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
       url('CalibreWeb-Semibold.woff') format('woff'),
       url('CalibreWeb-Semibold.woff2') format('woff2');
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'CalibreWeb';
  src: url('CalibreWeb-SemiboldItalic.eot');
  src: url('CalibreWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('CalibreWeb-SemiboldItalic.woff') format('woff'),
       url('CalibreWeb-SemiboldItalic.woff2') format('woff2');
       
  font-style:   italic;
  font-weight:  600;
}


